.main-container {
    width: 70%;
    margin: 50px auto ;
    display: flex;
}

.produto {
    width: 40%;
    border-radius: 20px;
    background-color: rgba(227, 230, 238, 0.457);
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto > img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
    margin: auto;
}

.descricao {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.descricao > h3 {
    color: rgb(172, 63, 63);
    font-weight: bolder;
    font-size: 1.8rem;
}

#codigo {
    color: rgb(99, 99, 99);
    font-size: 1rem;
    margin-bottom: 15px;
}

h5 {
    color: rgb(172, 63, 63);
    font-weight: bolder;
    font-size: 1rem;
    margin-top: 15px;
}

.descricao > p {
    color: rgb(92, 43, 43);
    font-size: 1.2rem;
    text-justify: inter-word;
}

#preco {
    color: rgb(172, 63, 63);
    font-weight: bolder;
    font-size: 1.8rem;
    margin-top: 15px;
}

.tamanhos {
    display: flex;
    gap: 20px;
}

input[type="radio"] {
    display: none;
    border: none;
    width: 100%;
    height: 100%;
}

.tamanhos > button
{
    width: 50px;
    border: 1px solid rgb(172, 63, 63);
    border-radius: 9px;  
    background-color: rgb(246, 246, 246);
    padding: 9px 20px;
    font-weight: 600;
    color: rgb(58, 58, 58);
    transition: 0.1s ease-in-out;
}

.tamanhos > button:hover {
    background-color: #d69da2;
    color: white;
    cursor: pointer;
}

.active {
    background-color: rgb(172, 63, 63) !important;
    color: white !important;
    cursor: pointer;
}

.cont {
    display: flex;
    gap: 20px;
}

.cont > input {
    width: 100px;
    height: auto;
    border: 1px solid rgb(172, 63, 63);
    border-radius: 9px;  
    background-color: rgb(246, 246, 246);
    padding: 9px 20px;
    font-weight: 600;
    color: rgb(58, 58, 58);
    transition: 0.1s ease-in-out;
}

.cont > input:focus {
    outline: none;
}

.carrinho {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 9px;  
    background-color: rgb(172, 63, 63);
    padding: 9px 20px;
    font-weight: 600;
    color: white;
    transition: 0.1s ease-in-out;
}

.carrinho:hover {
    background-color: #c64c57;
    color: white;
    cursor: pointer;
}


.more-container {
    width: 80%;
    margin: auto;
    margin-top: 130px;
}

.more-container > h2 {
    color: rgb(172, 63, 63);
    font-weight: bolder;
    font-size: 2rem;
    padding-left: 40px;
    border-bottom: 2px solid rgb(172, 63, 63);
    width: fit-content;
}

.more-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    width: 100%;
    margin: auto;
}

.more-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(227, 230, 238, 0.457);
    width: 300px;
}

.more-produto > img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    background-color: white;
}

.more-produto > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.more-produto > span{
    color: rgb(92, 43, 43);
    align-self: flex-start;
    font-weight: 700;
}

.more-produto > div > span {
    color: rgb(92, 43, 43);
    font-size: 1.3rem;
    font-weight: 900;
}

.more-produto > div > button {
    width: 80px;
    border: none;
    border-radius: 9px;  
    background-color: rgb(172, 63, 63);
    padding: 6px 8px;
    font-weight: 600;
    color: white;
    transition: 0.1s ease-in-out;
}

.more-produto > div >  button:hover {
    background-color: #c5545d;
    cursor: pointer;
}

